process {
    withName: 'MSA_ALIGNMENT:LEARNMSA_ALIGN'{
        container = "nf-core/ubuntu:22.04"
    }
    withName: 'MSA_ALIGNMENT:TCOFFEE_ALIGN'{
        ext.args = { "-output fasta_aln" }
        memory = 50.GB
        cpus = 1
    }
    withName: 'MSA_ALIGNMENT:MAGUS_ALIGN'{
        memory = 50.GB
        cpus = 1
    }
}
