nextflow_process {

    name "Test Process {{ component_name_underscore|upper }}"
    script "../main.nf"
    process "{{ component_name_underscore|upper }}"

    tag "modules"
    tag "modules_{{ org_alphabet }}"
    {%- if subtool %}
    tag "{{ component }}"
    {%- endif %}
    tag "{{ component_name }}"

    test("sarscov2 - fasta") {

        when {
            process {
                """
                input[0] = [ [ id:'test' ], // meta map
                    file(params.test_data['sarscov2']['illumina']['contigs_fasta'], checkIfExists: true)
                ]
                """
            }
        }

        then {
            assertAll(
                { assert process.success },
                { assert snapshot(process.out).match() }
            )
        }

    }

    // TODO nf-core: Change the test name preferably indicating the test-data and file-format used but keep the " - stub" suffix.
    test("sarscov2 - bam - stub") {

        options "-stub"

        when {
            process {
                """
                input[0] = [ [ id:'test' ], // meta map
                    file(params.test_data['sarscov2']['illumina']['contigs_fasta'], checkIfExists: true)
                ]
                """
            }
        }

        then {
            assertAll(
                { assert process.success },
                { assert snapshot(process.out).match() }
            )
        }

    }

}
